@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');






@font-face {
  font-family: 'Thunder';
  src: url('./fonts/Thunder/Thunder-MediumLC.ttf') format('truetype');
}

@font-face {
  font-family: 'AvenueX';
  src: url('./fonts/AvenueX/Avenue\ X.otf') format('opentype');

}

@font-face {
  font-family: 'HelveticaBold';
  src: url('./fonts/HelveticaNeue/HelveticaNeueBold.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaLight';
  src: url('./fonts/HelveticaNeue/HelveticaNeueLight.otf') format('opentype');
}

@font-face {
  font-family: 'Geist';
  src: url('./fonts/Geist/Geist-Medium.woff') format('woff');
}


/* I guess this's fine */
html::-webkit-scrollbar {
  display: none;
  width: 0;
}

html {
  scrollbar-width: none;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  background-image:
    linear-gradient(90deg, rgba(211, 211, 211, 0.05) 3px, transparent 1px),
    linear-gradient(rgba(211, 211, 211, 0.05) 3px, transparent 1px);
  background-size: 50px 50px;
}

.text-stroke {
  -webkit-text-stroke: 0.5px white;
  color: transparent;
}

@media (max-width: 768px) {
  body {
    background-image:
    linear-gradient(90deg, rgba(211, 211, 211, 0.1) 2px, transparent 1px),
    linear-gradient(rgba(211, 211, 211, 0.1) 2px, transparent 1px);
    background-size: 30px 30px;
  }
  
}

.scrollerHidden::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
  width: 0;
}